/*GLOBAL*/
/**{
	border: .5px solid red !important;
}*/

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.container{
	margin: auto;
	width: 80%;
	overflow: hidden;
}

ul{
	margin: 0; /* for all <ul>, cancel default margin and padding that <ul> have */
	padding: 0;
}

/*HEADER*/

header{
	background: #eeeeee;
	color: #000000;
	padding-top: 20px; /* to give some space between the <h1> and the top of the window */
	min-height: 70px;
	border-bottom: #1600d0 3px solid;
}

header #brand-logo{
	float: left;
}

header #brand-logo h1{
	font-size: 44px;
    margin: 0 0 5px 0;
}

header nav{
	float: right;
	margin-top: 15px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header a:hover{
	color: #1600d0;
	/*font-weight: bold;*/
}

/*SHOWCASE*/

#showcase{
	min-height: 450px;
	background: url('../images/ocean.jpg') no-repeat 0 -210px;
	text-align: center;
	color: #ffffff;
	background-size: 100% auto;
}

#showcase h1{
	margin-top: 150px;
	margin-bottom: 0;
	font-size: 55px;
}

/*CARDS*/

#cards{
	margin-top: 80px;
}

#cards .card{
	width: 33%;
	float: left;
	text-align: center;
	margin-bottom: 50px;

}

#cards .card img{
	width: 90px;
}

/*ARTICLE*/

#article{
	margin-top: 50px;
}

#article p{
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	overflow-y: scroll;
    height: 400px;
}

#article p .first-word{
	font-size: 22px;
	font-weight: 800;
}

#article .container{
	margin-bottom: 50px;
}

h2#blog{
	margin-left: 40px;
	font-size: 32px;
}

/*CONTACT*/

#contact{
	margin-top: 80px;
	margin-bottom: 100px;
}

#contact h2{
	margin-left: 40px;
	font-size: 32px;
}

#contact .contact-img img{
	height: 180px;
	margin-right: 400px;
}

section#contact .contact-form input, section#contact .contact-form textarea{
	padding: 5px;
	width: 80%;
	margin-bottom: 5px;
}

.form-wrapper{
	width: 80%;
	margin-left: auto;
}

.button_1{
	height: 30px;
	background: #1600d0;
	border: none;
	color: #eeeeee;
	padding-left: 15px;
	padding-right: 15px;
}

/*.form{
	border: 2px solid #000000;
}*/

/*FOOTER*/

footer{
	padding: 20px;
	margin-top: 10px;
	color: #1600d0;
	background-color: #eeeeee;
	text-align: center;
	font-weight: bold;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
	header #brand-logo,
	header nav,
	header li,
	#cards .card{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	header a{
		display: block;
		background-color: #f5f5f5;
		padding: 2px 10px 2px 10px;
	}
	.container{
		width: 90%;
	}
	#showcase h1{
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 34px;
	}
	#showcase{
		min-height: 350px;
		background: url('../images/ocean2.jpg') no-repeat 0 -75px;
	}
}